@media (max-width: 371px) {
    .postman{
        font-size: 13px !important;
    }
    .form-box{
        position: relative !important;
        top: 35px !important;
    }
    .para{
        line-height: 1.2em;
    }
  }
  