@media (max-width: 371px) {
    .postman{
        font-size: 13px !important;
    }
    .form-box{
        position: relative !important;
        top: 35px !important;
    }
    .para{
        line-height: 1.2em;
    }
  }
  
  .login-form{
    height: 100vh;
    padding: 15vh 27vw;
  }

  .button-login{
    padding: 0.3em 12.5em;
    margin: 1em 0;
  }

  .pointer{
    cursor: pointer;
  }